

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 7%;
    /* margin-right: 7%; */
  }
  
  .single-chart {
    width: 15%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.html .circle {
    stroke: #F16529;
  }
  
  .circular-chart.css .circle {
    stroke: #2465F1;
  }
  
  .circular-chart.JS .circle {
    stroke: #F7DF1E;
  }

  .circular-chart.React .circle {
    stroke: #5FD8F9;
  }
  
  .circular-chart.C .circle {
    stroke: #803788;
  }

  .circular-chart.C2 .circle {
    stroke: #00589D;
  }
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }