<section> 
    <article>
      <h2>Educación:</h2>
      <app-formacion
        img="../../../assets/images/escN°1.png"
        titulo='Escuela De Educación Primaria Nº1 "Domingo Faustino Sarmiento"'
        fecha="2011 - 2015">
      </app-formacion>
      <app-formacion
        img="../../../assets/images/escuela.jpg"
        titulo='Industrial de Temperley "2 de abril"'
        fecha="2016 - Actualidad">
      </app-formacion>
      <app-formacion
        img="../../../assets/images/JA-Argentina.PNG"
        titulo='Junior Achievement Argentina "Yo puedo progamar"'
        fecha="2021">
      </app-formacion>
    </article>
  </section>