<section> 
    <article>
      <h2>Educación:</h2>
      <img src="../../../assets/images/escN°1.png" alt="" class="logos">
      <h5>Escuela De Educación Primaria Nº1 "Domingo Faustino Sarmiento" </h5>
      <h6>2011 - 2017</h6>
      <br/>
      <img src="../../../assets/images/escuela.jpg" alt="" class="logos">
      <h5>Industrial de Temperley "2 de abril"</h5>
      <br/>
      <p>Actualmente estudio en el sexto año de la escuela tecnica "2 de abril", especializado en la electonica</p>
    </article>
  </section>