
<div class="nav-">
  <input type="checkbox" id="nav-check-">
  <div class="nav-header-">
    <div class="nav-title-">
      <img src="../assets/images/arg_programa.png" class="arg"/>
    </div>
  </div>
  <div class="nav-btn-">
    <label for="nav-check-">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links-">
    <a href="https://twitter.com/Matias_Rolon130" target="_blank"><img src="../assets/images/logos/gorjeo.png" class="redes"/></a>
    <a href="https://www.instagram.com/_mati_rolon/?hl=es-la" target="_blank"><img src="../assets/images/logos/instagram.png" class="redes"/></a>
    <a href="#" target="_blank"><img src="../assets/images/logos/telegrama.png" class="redes"/></a>
    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=matiasrolon1301@gmail.com" target="_blank"><img src="../assets/images/logos/gmail.png" class="redes"/></a>
    <a href="https://github.com/matias-rolon" target="_blank"><img src="../../../assets/images/logos/github.png" alt="" class="redes"></a>
    <br>
    <button class="btn btn-outline-success" type="submit" (click)="login()" >Login</button>
  </div>
</div>

<div class="banner">
  <img src="../../../assets/images/banner.jpg" alt="" class="img-fluid banner-img">
</div>

