* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  br{
    display: none;
  }

  .btn{
    margin-right: 10px;
  }

  .redes{
    width: 40px;
    height: 40px;
    padding: 3px;
}

  .nav- {
    height: 70px;
    width: 100%;
    background-color: #2D333B;
    position: relative;
  }
  
  .nav- > .nav-header- {
    display: inline;
  }
  
  .nav- > .nav-header- > .nav-title- {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav- > .nav-btn- {
    display: none;
  }
  
  .nav- > .nav-links- {
    display: inline;
    float: right;
    font-size: 18px;
    margin-top: 0.6%;
  }
  
  .nav- > .nav-links- > a {
    display: inline-block;
    padding: 6px 10px 13px 0px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav- > #nav-check- {
    display: none;
  }
  
  @media (max-width:763px) {

    br{
        display: block;
    }

    .redes{
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .nav- > .nav-btn- {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      margin-top: 2%;
    }
    .nav- > .nav-btn- > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav- > .nav-btn- > label:hover,.nav-  #nav-check-:checked ~ .nav-btn- > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav- > .nav-btn- > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav- > .nav-links- {
      position: absolute;
      /* display: block; */
      width: 100%;
      background-color: #22272E;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 65px;
      left: 0px;
      text-align: center;
    }



    .nav- > .nav-links- > a {
      display: inline;
      width: 100%;
    }
    .nav- > #nav-check-:not(:checked) ~ .nav-links- {
      height: 0px;
    }
    .nav- > #nav-check-:checked ~ .nav-links- {
      /* height: calc(100vh - 50px); */
      height: 110px;
      overflow-y: auto;
    }
  }