<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="../assets/images/arg_programa.png" class="arg"/>

      <form class="d-flex" role="search">
        <a href="https://twitter.com/Matias_Rolon130" target="_blank"><img src="../assets/images/logos/gorjeo.png" class="redes"/></a>
        <a href="https://www.instagram.com/_mati_rolon/?hl=es-la" target="_blank"><img src="../assets/images/logos/instagram.png" class="redes"/></a>
        <a href="#" target="_blank"><img src="../assets/images/logos/telegrama.png" class="redes"/></a>
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=matiasrolon1301@gmail.com" target="_blank"><img src="../assets/images/logos/gmail.png" class="redes"/></a>
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
</nav>
<div class="banner">
  <img src="../../../assets/images/banner.jpg" alt="" class="img-fluid banner-img">
</div>

