<div id="circle">
    <circle-progress
      [imageSrc]="'../../../assets/images/skills/html-5.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#F16529'"
      [innerStrokeColor]="'#ECECEC'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'../../../assets/images/skills/css-3.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [percent]="38"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#2465F1'"
    [innerStrokeColor]="'#ECECEC'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'../../../assets/images/skills/js.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [showImage]="true"
    [percent]="80"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#F7DF1E'"
    [innerStrokeColor]="'#ECECEC'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'../../../assets/images/skills/react.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [showImage]="true"
    [percent]="60"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#5FD8F9'"
    [innerStrokeColor]="'#ECECEC'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'../../../assets/images/skills/c-sharp.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [showImage]="true"
    [percent]="74"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#803788'"
    [innerStrokeColor]="'#ECECEC'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'../../../assets/images/skills/c-.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [showImage]="true"
    [percent]="55"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#00589D'"
    [innerStrokeColor]="'#ECECEC'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'../../../assets/images/skills/angular.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [showImage]="true"
    [percent]="30"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#D6002F'"
    [innerStrokeColor]="'#ECECEC'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'../../../../assets/images/skills/github.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [showImage]="true"
    [percent]="40"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'#ECECEC'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'../../../../assets/images/skills/trabajo-en-equipo.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [showImage]="true"
    [percent]="90"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#9C27B0'"
    [innerStrokeColor]="'#ECECEC'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'../../../../assets/images/skills/solucion.png'"
    [imageHeight]="80"
    [imageWidth]="80"
    [showImage]="true"
    [percent]="80"
    [radius]="80"
    [subtitle]="'Hola'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#FCD770'"
    [innerStrokeColor]="'#ECECEC'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>
